/* CUSTOM STYLES for Receipt App */
#homePageImage {
  width: 100px;
  height: 300px;
}

/* CUSTOM STYLES from Boiler Plate*/

body, html{
 font-family: 'Open Sans', sans-serif;
  background-color: #e8e8e8;
  color: #2f3039;
}
nav {
  width: 100%;
  background-color: #2f3039;
  color: #e8e8e8;
  padding: 10px 0;
}

nav a {
  margin: 10px;
  text-decoration: none;
  font-size: 18px;
  color: #e8e8e8;
}

nav a:hover {
  color: #52799a;
}

h1 {
  margin: 0;
}

.footer {
}

.footer-text {

}

.space {
  margin: 15px 0;
}

.btn-primary {
  background-color: #126796;
  color: white;
  margin: 5px;
  font-size: 16px;
  padding: 12px 20px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.btn-primary:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.error {
  background-color: pink;
  color: red;
  border: 1px solid red;
  border-radius: 2px;
  padding: 10px 30px;
  width: 75%;
  margin: 10px auto;
}

.success {
  background-color: #ceffce;
  color: green;
  border: 1px solid green;
  border-radius: 2px;
  padding: 10px 30px;
  width: 75%;
  margin: 10px auto;
}

.no-flash {
  visibility: hidden;
  padding: 10px 30px;
  width: 75%;
  margin: 10px auto;
}

.x-button {
  background-color: red;
  color: white;
  border-radius: 2px;
  float: right;
}

/* DEFAULT STYLES FROM CREATE REACT APP MODULE */
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: 50px;
  padding: 10px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  font-size: 32px;
  font-weight: bold;
  color: #6f7376;
  text-transform: uppercase;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
